---
message: Sayonara
---
<template is="my-payload">
  <h1>{{ message }} from island</h1>
  <p>Use https://www.11ty.dev/docs/languages/custom/ custom template format to raw njk file. Or Vue.js template to see how it output JS file. Don't want to trim manually with <code>excerpt_separator</code></p>
</template>
