<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/static/main.js"></script>
    <title>TBD</title>
  </head>
  <body>
    <div is="my-island" src="/island/greet" id="greet">
      Last fallback
    </div>
    <div is="my-island" src="/island/farewell" id="farewell">
      Last fallback
    </div>
    {{ eleventy | dump }}
  </body>
</html>
