---
method: post
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/postcss/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="module" src="/static/lookup.js"></script>
    <title>Bus Lookup</title>
  </head>
  <body class="bg-red-50"">
    <div class="mx-auto max-w-xl">
      <h1 class="p-5 text-3xl font-bold text-center">近くのバス停🚌</h1>
      <div class="text-center">
        <button class="inline-block p-5 bg-red-500 text-white" type="button" id="proceed">最寄りを探す🔍</button>
      </div>
      <form id="location" method="{{ method }}" action="/search">
        <input type="hidden" name="latitude" required />
        <input type="hidden" name="longitude" required />
        <input type="hidden" name="now" required />
      </form>
      <form id="error" method="{{ method }}" action="/error">
        <input type="hidden" name="code" required />
        <input type="hidden" name="message" required />
      </form>
    </div>
  </body>
</html>
