---
latitude: 00000
longitude: 11111
now: 22222
elements:
  - name: Sussex Ring
    direction: Mill Hill Or Whetstone
    bearing: NW
    id: 1111111111
  - name: Sussex Ring
    direction: Mill Hill Or Whetstone
    bearing: NW
    id: 1111111111
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/postcss/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bus Lookup</title>
  </head>
  <body class="bg-red-50"">
    <div class="mx-auto max-w-xl">
      <h1 class="p-5 text-3xl font-bold text-center">近くのバス停🚌</h1>
      <p class="text-sm">latitude: {{ latitude }}, longitude: {{ longitude }}, now: {{ now }}</p>
      {% for element in elements %}
        <div class="bg-white flex flex-row gap-2 p-5 mb-5">
          <div class="shrink-0">
            <span class="inline-block text-2xl p-2 bg-red-500 text-white">
              {{ element.bearing }}
            <span>
          </div>
          <div class="grow">
            <div class="text-xl">{{ element.name }}</div>
            <div class="text-sm">{{ element.direction or "(no direction)"}}</div>
            <div class="text-sm">{{ element.id }}</div>
          </div>
          <div class="shrink-0">
            <a class="inline-block p-3 bg-green-500 text-white font-bold" href="https://citymapper.com/london/bus/stops/{{ element.id }}?lang=en">
              GO→
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  </body>
</html>
